@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

@layer base {
	body {
		display: flex;
	}

	.base_cont {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}

@layer utilities {
	@media (min-height: 650px) {
		.cont_fixed_h650 {
			position: fixed;
			padding-bottom: 48px;
		}
	}
}
